version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: portal-prod-db
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  backend:
    build: .
    container_name: School_bus_tracker_be
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    env_file: .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}

      JWT_SECRET: ${JWT_SECRET}

      BREVO_SMTP_HOST: ${BREVO_SMTP_HOST}
      BREVO_SMTP_PORT: ${BREVO_SMTP_PORT}
      BREVO_SMTP_USER: ${BREVO_SMTP_USER}
      BREVO_SMTP_KEY: ${BREVO_SMTP_KEY}
      BREVO_EMAIL: ${BREVO_EMAIL}

    ports:
      - "8085:${BACKEND_PORT}"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
